@font-face {
  font-family: LoL Font;
  src: url("../fonts/BEAUFORTFORLOL-REGULAR.TTF");
}

* {
  font-family: LoL Font;
  font-weight: 700;
  margin: 0;
}

.match-number {
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0 0 20px;
}

.red-team,
.blue-team {
  color: #f4fdff;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.blue-team span,
.red-team span {
  font-weight: 500;
}

.red-team {
  background: rgba(139, 0, 0, 0.85);
}

.blue-team {
  background: rgba(0, 0, 139, 0.85);
}

.team-container {
  position: relative;
}

.summoner-name {
  padding-bottom: 5px;
  display: block;
}

.kda-container {
  display: inline-flex;
  position: absolute;
}

.kda-icon {
  margin: 0 5px;
  width: 16px;
  height: 16px;
  align-self: center;
}

.summoner-items {
  display: inline-flex;
  align-items: baseline;
}

.items-span {
  align-self: center;
  margin-left: 5px;
}

.empty-item {
  display: inline-block;
  background-color: #000;
}

.single-item-container {
  margin-left: 5px;
}

.single-item,
.empty-item {
  width: 26px;
  height: 26px;
  margin: 0 1px;
}
