@font-face {
  font-family: LoL Font;
  src: url("../fonts/BEAUFORTFORLOL-REGULAR.TTF");
}

* {
  font-family: LoL Font;
  font-weight: 700;
  margin: 0;
  color: #f0e6d2;
  font-weight: 100;
  box-sizing: border-box;
}

.homepage {
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  filter: brightness(1.1);
}
.error {
  text-align: center;
  margin: 30px;
  font-size: 22px;
}

.main-text {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 200px 0 100px 0;
}

.main-text img {
  width: 64px;
}

.main-text span {
  font-size: 48px;
}

.select-input-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.select-region {
  background: #010a13;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
}

.search-input-name {
  font-size: 22px;
  background: #010a13;
  border: none;
  outline: 0;
  padding: 5px 10px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.search-button,
.close-button {
  font-size: 24px;
  background-color: #010a13;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  transition: color 0.3s;
}

.search-button:hover,
.close-button:hover {
  color: #c89b3c;
}

.summoner-data {
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

.summoner-data-general-info {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid;
}

.summoner-data-general-info p {
  font-size: 18px;
}

.summoner-icon-container {
  position: relative;
}

.summoner-icon-border {
  position: absolute;
}

.s {
}

.g {
  width: 210px;
  bottom: -25px;
  right: -50px;
}

.p,
.b,
.i {
  width: 200px;
  bottom: -40px;
  right: -50px;
}

.e {
  width: 230px;
  bottom: -40px;
  right: -65px;
}

.d {
  width: 230px;
  bottom: -30px;
  right: -65px;
}

.m {
  width: 240px;
  bottom: -35px;
  right: -68px;
}

.gm {
  width: 240px;
  bottom: -28px;
  right: -70px;
}

.c {
  width: 235px;
  bottom: -25px;
  right: -68px;
}

.home-summoner-icon {
  width: 96px;
  border-radius: 50%;
}

.summoner-three-champs-para {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.summoner-three-champs {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.summoner-three-champs div {
  width: 200px;
  text-align: center;
}

.match-history-para {
  font-size: 26px;
  text-align: center;
  margin: 30px 0;
}

.matches-container {
  display: flex;
  flex-direction: column;
}

.match-stats-para-first {
  text-decoration: underline;
  margin-top: 10px;
}

.match-stats-para {
  margin: 0 0 10px 150px;
  font-size: 18px;
}

.match-number {
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0 0 100px;
}

.red-team,
.blue-team {
  display: flex;
  color: #f0e6d2;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 30px;
}

.blue-team span,
.red-team span {
  font-weight: 500;
}

.red-team {
  background: #280914;
}

.blue-team {
  background: #091428;
  margin-bottom: 20px;
}

.team-container {
  position: relative;
  border-bottom: 1px solid #f0e6d2;
  padding-bottom: 15px;
  display: flex;
  background: inherit;
}
