.summoner-name {
  padding-bottom: 5px;
  display: block;
}

.champion-icon {
  width: 64px;
}

.items-span {
  align-self: center;
  margin-left: 5px;
}

.red-team,
.blue-team {
  display: flex;
  color: #f0e6d2;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 30px;
}

.blue-team span,
.red-team span {
  font-weight: 500;
}

.red-team {
  background: #280914;
}

.blue-team {
  background: #091428;
  margin-bottom: 20px;
}

.team-container {
  position: relative;
}

.kda-container {
  display: inline-flex;
  position: absolute;
}

.kda-icon {
  margin: 0 5px;
  width: 16px;
  height: 16px;
  align-self: center;
}

.summoner-items {
  display: inline-flex;
  align-items: baseline;
}

.empty-item {
  display: inline-block;
}

.single-item-container {
  margin-left: 5px;
}

.single-item,
.empty-item {
  width: 32px;
  height: 32px;
  margin: 0 1px;
  padding: 2px;
  background: #fff;
  border-radius: 4px;
}
