.match-overview,
.match-stats {
  padding: 0 10px;
  border-right: 1px solid #f0e6d2;
}

.summoner-name {
  padding-bottom: 5px;
  display: block;
  width: fit-content;
}

.champion-img-spells {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
}

.champion-icon {
  width: 80px;
}

.summoner-spells {
  margin-top: 5px;
}

.summoner-spells img {
  width: 32px;
  height: 32px;
}

.summoner-spells :first-child {
  margin-right: 5px;
}

.kda-container {
  display: inline-flex;
  position: absolute;
  gap: 15px;
  margin-left: 10px;
}

.kda-hover,
.cs-hover {
}

.kda-container span {
  display: flex;
}

.kda-icon,
.minions-icon {
  margin: 0 5px;
  width: 18px;
  height: 18px;
  align-self: center;
}

.summoner-items {
  display: inline-flex;
  align-items: baseline;
  margin: 0 10px;
}

.items-span {
  align-self: center;
  margin-left: 5px;
}

.single-item-container {
  margin-left: 5px;
}

.single-item,
.spell1,
.spell2 {
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border-radius: 4px;
  border: 1px solid #f0e6d2;
}

.damage-dealt {
  display: flex;
  flex-direction: column;
}

.match-stats {
  min-width: 200px;
}

.match-stats span {
  display: inline-block;
  margin-left: 15px;
}

.match-stats span p,
.match-stats span div p {
  font-weight: 100;
}
